<div class="uk-container uk-margin-medium-top">
  <div class="generator uk-width-2-5 uk-align-center">
    <h1>Password Generator</h1>

    <div>
      <label>Enter Length</label>
      <input class="uk-input">
    </div>

    <div class="uk-margin-top uk-width-1-4 uk-flex uk-flex-between uk-flex-middle">
      <label>Use Letters</label>
      <input type="checkbox" class="uk-checkbox">
    </div>

    <div class="uk-margin-top uk-width-1-4 uk-flex uk-flex-between uk-flex-middle">
      <label>Use Numbers</label>
      <input type="checkbox" class="uk-checkbox">
    </div>

    <div class="uk-margin-top uk-width-1-4 uk-flex uk-flex-between uk-flex-middle">
      <label>Use Symbols</label>
      <input type="checkbox" class="uk-checkbox">
    </div>

    <div class="uk-margin-top">
      <button class="uk-button uk-button-default">Generate!</button>
    </div>

    <div class="uk-margin-top">
      <label>Your Password</label>
      <input class="uk-input"/>
    </div>
  </div>
</div>
